[Unit]
Description=Job Applications Daily Tracker Run
After=network.target nfs-client.target
RequiresMountsFor=/mnt/job-app-data

[Service]
WorkingDirectory=/home/gs/Projects/Job-Applications
ExecStart=/home/gs/Projects/Job-Applications/venv/bin/python \
          tracker_daily.py
EnvironmentFile=/home/gs/Projects/Job-Applications/.env